<div class="container">

    <h1>PIPES</h1>
    <HR>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">TEXTO</th>
                <th scope="col">PIPE</th>
                <th scope="col">RESULTADO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{name}}</td>
                <td>uppercase</td>
                <td>{{name | uppercase}}</td>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>lowercase</td>
                <td>{{name | lowercase}}</td>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>slice:4</td>
                <td>{{name | slice:4}}</td>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>slice:0:3</td>
                <td>{{name | slice:0:3}}</td>
            </tr>
            <tr>
                <td>{{arreglo}}</td>
                <td>slice:1:6</td>
                <td>{{arreglo | slice:1:6}}</td>
            </tr>
            <tr>
                <td>{{pi}}</td>
                <td>number:'.5-8'</td>
                <td>{{pi | number:'.5-8'}}</td>
            </tr>
            <tr>
                <td>{{porcentaje}}</td>
                <td>percent</td>
                <td>{{porcentaje | percent:'2.2-5'}}</td>
            </tr>

            <tr>
                <td>{{moneda}}</td>
                <td>currency</td>
                <td>{{moneda | currency:'EUR':true}}</td>
            </tr>

            <tr>
                <td>{{heroe}}</td>
                <td>json</td>
                <td><pre>{{heroe | json}}</pre></td>
            </tr>

            <tr>
                <td>{{valorPromesa}}</td>
                <td>async</td>
                <td><pre>{{valorPromesa | async}}</pre></td>
            </tr>

            <tr>
                <td>{{fecha}}</td>
                <td>date</td>
                <td><pre>{{fecha | date}}</pre></td>
            </tr>

            <tr>
                <td>{{fecha}}</td>
                <td>date:'medium'</td>
                <td><pre>{{fecha | date:'medium'}}</pre></td>
            </tr>

            <tr>
                <td>{{fecha}}</td>
                <td>date:'MMMM - dd'</td>
                <td><pre>{{fecha | date:'MMMM - DD'}}</pre></td>
            </tr>

            <tr>
                <td>{{name}}</td>
                <td>capitalizado'</td>
                <td><pre>{{name | capitalizado:false}}</pre></td>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>
                    contrasena {{activar}}
                    <button class="btn btn-danger" (click)="activar = !activar">Activar / Desactivar</button>
                </td>
                <td><pre>{{name | contrasena:activar}}</pre></td>
            </tr>
        </tbody>
    </table>

    <br>

    <iframe width="560" height="315" [src]="video | domseguro:url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>